<div class = "row">
    <div class = "col-md-2">　</div>
    <div class = "col-md-8">
        <h1>グループ情報変更</h1>
    </div>
    <div class = "col-md-2">　</div>
</div>

<%= render 'form', group: @group %>


<div class = "row">
    <div class = "col-md-2">　</div>
    <div class = "col-md-8">
        <%= link_to '戻る', group_path(@group) %>
    </div>
    <div class = "col-md-2">　</div>
</div>