
<div class = "row">
    <div class = "col-md-12 text-center">
        <%= image_tag "/images/title.png", size: '1250x500' %>
    </div>
</div>

<div class = "row text-center">
    <div class = "col-md-3">
        <%= link_to image_tag("/images/topchat.png", size: '250x250'), chat_top_path , class: "image"%>
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-3">
        <%= link_to image_tag("/images/topsearch.png", size: '250x250'), user_search_path, class: "image" %>
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-3">
        <%= link_to image_tag("/images/topprofile.png", size: '250x250'), profile_path(current_user.id, key_reset: true), class: "image" %>
    </div>
</div>
