<h1>Editing Groupmessage Read Check</h1>

<%= render 'form', groupmessage_read_check: @groupmessage_read_check %>

<%= link_to 'Show', @groupmessage_read_check %> |
<%= link_to 'Back', groupmessage_read_checks_path %>
