<h1>チャット</h1>
<br>
<%= link_to image_tag("/images/kochat.png", size: '313x225'), members_path, class: "image"%>
<br>
<br>
<br>
<br>
<%= link_to image_tag("/images/guchat.png", size: '313x225'), groups_path, class: "image"%>
