// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.example2 span {
    position: relative;
    font-size: 20px;
    width: 100px;
    height: 100px;
    line-height: 10px;
    border-radius: 50%; //カラーを丸くする
    background-color: red;
    text-align: center;
}

.scroll{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.hobby{
    font-size : 15px;
}
