// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.scroll{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.hobby{
    font-size : 15px;
}